.jumbotron {
    height: 15rem;
}

hr {
    color: orange;
}

img {
    border-radius: 1rem;
}

.nav-link {
    font-size: 1.5rem;
}

.lead {
    font-size: 2rem;
}

.nav-link:hover {
    color: orange !important;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover {
    color: orange;
}

.center {
    text-align: center;
}

.card-css:hover {
    color: orange !important;
}

.card-css {
    box-shadow: 6px 10px 21px 0px rgba(0, 0, 0, 0.4);
}

.prof-css {
    border-radius: 1rem;
}

.prof-css>img {
    align-self: center;
    margin-top: 1rem;
}

.prof-css:hover {
    color: orange !important;
    box-shadow: 6px 10px 21px 0px rgba(0, 0, 0, 0.4);
    transition: 1s;
}

.prof-css>p>button:hover {
    color: orange !important;
}

.center {
    text-align: center;
}

.assunto {
    height: 15rem;
}

form>div>button:hover {
    color: orange !important;
}

.form {
    border-radius: 1rem;
}

div.centralizar {
    text-align: center;
}